$maxMobile: "(max-width: 767px)";
$minSmall: "(min-width: 768px)";
$maxSmall: "(max-width: 991px)";
$minMedium: "(min-width: 992px)";
$minLarg: "(min-width: 1200px)";

$redColor: #dd1f26;
$hoverRedColor: #bb1016;
$gray: #424648;
$gray2: #818080;
$ofgray: #ecf9fd;

$hovergreycolor: #505050;
$black: #222;
$white: #ffffff;
$orange: #fda414;
$orange2: #ff5a00;
$blue2: #264290;
