@font-face {
  font-family: "advertisingbold";
  src: url("../fonts/advertisingbold.ttf");
}
@font-face {
  font-family: "ae_AlMohanad";
  src: url("../fonts/ae_AlMohanad.ttf");
}

body {
  min-height: 100vh;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}
