.offer-page {
  padding-top: 50px;
  padding-bottom: 100px;
  .offers {
    padding-top: 1px;
    
    .offers__box {
      margin-bottom: 15px;
      a {
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        display: block;
        
        
        .overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.303);
          z-index: 9998;
        }
        img {
          width: 100%;
          min-height: 220px;
        }
        > span {
          padding: 10px;
          position: absolute;
          z-index: 9999;
          left: 10px;
          top: 10px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-self: center;
          width: 35px;
          height: 35px;

          background-color: $gray;
          svg {
            width: 17px;
            height: 17px;
            path {
              fill: $white;
            }
          }
        }
        p {
          position: absolute;
          color: $white;
          z-index: 9999;
          bottom: 0;
          right: 0;
          padding: 10px;
          margin: 0;
          font-size: 0.7rem;
          span {
            margin-inline-end: 10px;
          }
        }
      }
      h4 {
        margin: 10px 0;
        font-size: 1.2rem;
      }
      .merchant-rate {
        display: flex;
        justify-content: space-between;
        span {
          font-size: 0.8rem;
        }
        .rate {
          display: flex;
          align-items: center;
          svg {
            margin: 0 5px;
            width: 10px;
            height: 10px;
          }
        }
      }
    }
  }

  .filter {
    padding: 20px;
    form {
      border-radius: 10px;
      box-shadow: 0px 0px 4px 0px #817067ab;
      padding: 10px;
    }

    .reset-all {
      border: none;
      background: none;
      cursor: pointer;
      text-decoration: underline;
      color: rgb(255, 94, 0);
      outline: none;
      padding: 0;
    }

    .bootstrap-select {
      width: 100% !important;

      .dropdown-toggle {
        background-color: $orange2;
        color: $white;
      }
      .bs-ok-default:after {
        border-color: $orange2;
      }

      // rtl
      .filter-option {
        text-align: start;
      }

      .dropdown-toggle {
        position: relative;
      }
      .dropdown-toggle::after {
        position: absolute;
        left: 10px;
      }
      // rtl
    }

    .filter__row {
      .filter__title {
        padding-top: 2px;
        padding-bottom: 2px;
        margin-bottom: 0;
      }
      &:not(:first-of-type) .filter__title {
        margin-top: 15px;
      }
      .filter__list {
        min-height: 70px;
        max-height: 160px;
        overflow: auto;
        /* width */
      }
    }
    .btn-primary {
      background-color: $orange2;
      border: none;
    }
  }
}
