// **** strat partner ****
.partner {
  .new-costumer {
    padding: 20px 0;
    background-color: #ddd;
    .logo-lang {
      .logo {
        width: 150px;
      }

      .lang-portal {
        display: flex;
        align-items: center;
        justify-content: end;
        .lang,
        .portal {
          text-decoration: none;
          color: #fff;
          font-size: 1.3rem;
          font-weight: 500;
        }
        .lang {
          margin: 0 10px;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: #ff5a00;
            transition: color 0.3s ease-in-out;
          }
        }
        .portal {
          border: 3px solid #fff;
          border-radius: 5px;
          padding: 5px 10px;
          transition: all 0.3s ease-in-out;
          &:hover {
            border: 3px solid #ff5a00;
            background-color: #ff59002e;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
    .join-us {
      padding-top: 2rem;
      .join-us__text {
        h2 {
          margin-top: 5.5rem;
          font-size: 3.5rem;
          font-weight: bold;
          color: #fff;
        }
        h5 {
          font-size: 2.2rem;
          color: #fff;
        }
      }

      .join-us__form {
        h3 {
          text-align: center;
          color: #fff;
          font-size: 2.7rem;
          font-weight: bold;
          margin-bottom: 1.8rem;
        }
        form {
          background-color: #fff;
          border-radius: 5px;
          padding: 30px 20px;
          opacity: 0.95;
          p {
            color: #3b3b3b;
            font-size: 1.5rem;
          }
          .form-group input {
            border-radius: 4px;
            background-clip: padding-box;
            border: 1px solid #dddbda;
            &:focus {
              border: 1px solid #ff5a00;
              box-shadow: none;
              transition: all 0.3s ease-in-out;
            }
          }
          .btn-primary--orange {
            background-color: #ff5a00;
            border-color: #ff5a00;
            width: 10rem;
            font-size: 1.5rem;
            padding: 2px;
          }
        }
      }
    }
  }
  .feature {
    padding: 100px 0 50px 0;
    h2 {
      color: #ff5a00;
      font-size: 3.5rem;
    }
    h3 {
      padding-top: 80px;
      padding-bottom: 20px;
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
    }
    .fet-box {
      text-align: center;
      .fet-icon {
        img {
          max-width: 150px;
        }
      }
    }
  }
  .benfit {
    text-align: center;
    h3 {
      padding-top: 30px;
      padding-bottom: 20px;
      font-size: 2rem;
      font-weight: bold;
    }
    .benfit__box {
      border-bottom: 3px solid #ff5a00;
      box-shadow: 0px 0px 3px 2px rgba(94, 94, 94, 0.75);
      border-radius: 5px;
      margin-bottom: 30px;
      overflow: hidden;
      .benfit__img {
        margin-bottom: 10px;
        img {
          
        }
      }
      .benfit__content{
        padding: 10px 15px;
      }
      h4 {
        color: #ff5a00;
      }
    }
  }
  .about {
    text-align: center;
    h3 {
      padding-top: 30px;
      padding-bottom: 20px;
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .ready-join {
    padding: 50px 0;
    text-align: center;
    h3 {
      padding-top: 30px;
      padding-bottom: 20px;
      font-size: 2rem;
      font-weight: bold;
    }
    .btn-join {
      background-color: #ff5a00;
      border-color: #ff5a00;

      font-size: 1.5rem;
      padding: 2px;
      padding: 5px 10px;
      width: 15rem;
      display: inline-block;
      color: #fff;
      border-radius: 5px;
    }
  }
  .counter {
    padding-top: 50px;
    .counter__box {
      text-align: center;
      .counter__number {
        color: #ff5a00;
        font-size: 4rem;
        font-weight: bold;
      }
      .text {
        font-size: 1.5rem;
      }
    }
  }
  footer {
    background-color: #1f2533;
    padding: 25px 0;

    h4,
    a {
      color: #fff;
    }

    .footer-logo {
      width: 150px;
    }
  }
}
// **** end partner ****

// **** strat partner media ****
@media (min-width: 992px) {
}

@media (max-width: 991px) {
  .partner footer a svg {
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .partner .new-costumer .logo-lang .logo {
    width: 120px;
  }
  .partner .new-costumer .logo-lang .lang-portal .lang,
  .partner .new-costumer .logo-lang .lang-portal .portal {
    font-size: 1rem;
  }
  .partner .new-costumer .join-us .join-us__text h2 {
    font-size: 1.9rem;
  }
  .partner .new-costumer .join-us .join-us__text h5 {
    font-size: 1.2rem;
  }
  .partner .new-costumer .join-us .join-us__form h3 {
    font-size: 1.8rem;
    margin: 1rem 0;
  }

  .partner .feature h2 {
    font-size: 1.9rem;
  }
  .partner .feature h3,
  .partner .benfit h3,
  .partner .about h3,
  .partner .ready-join h3 {
    font-size: 1.5rem;
  }
  .partner .counter .counter__box .counter__number {
    font-size: 1.9rem;
  }
  .partner .counter .counter__box .text {
    font-size: 1rem;
  }
  .counter .counter__row {
    justify-content: center !important;
  }
  .partner .ready-join .btn-join {
    font-size: 1.1rem;
  }
  .partner footer {
    text-align: center;
  }
  .partner footer h4 {
    margin-top: 1rem;
  }
  .partner footer a svg {
    margin-top: 1rem;
  }
}
// **** end partner media ****
