.yalla-header {
  .navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99999;
    box-shadow: 0 1px 3px #000;
    background-color: #ff5a00;
    color: $white;
    .yalla-header__logo-box {
      .navbar-brand {
        img {
          width: 120px;
        }
      }
    }
    .main-navbar {
      .nav-item-close {
        display: none;
      }
      li a,
      .sign-nav li a {
        color: $white;
      }
    }
    .sign-nav {
      form {
        .search-container {
          margin-top: 5px;
          border-radius: 7px;
          overflow: hidden;
          position: relative;
          .search-input {
            width: 100%;
            height: 35px;
            padding: 2px 12px;
            border-radius: 25px;
            font-size: 14px;
            border: 1px solid #a6a6a6;
            &:focus-visible {
              outline: none;
            }
          }
          .search-button {
            position: absolute;
            background: transparent;
            border: none;
            left: 8px;
            top: 50%;
            cursor: pointer;
            -webkit-transform: translateY(-43%);
            transform: translateY(-43%);
            svg {
              path {
                fill: rgb(131, 131, 131);
              }
            }
          }
        }
      }
      .nav-item {
        .img-language {
          width: 30px;
          height: 30px;
        }
        a {
          color: #fff;
          svg {
            path {
              fill: $white;
            }
          }
        }
      }
    }
  }
  .search-mobile,
  .show-search {
    display: none;
  }
  .navbar .sign-nav .nav-item .btn-lang {
    img {
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }
  }
}

@media (min-width: 992px) {
  .yalla-header .navbar .sign-nav .nav-item .sign {
    border-radius: 5px;
    border: 1px solid #ffffff;
    margin-left: 5px;
    margin-right: 9px;
    padding: 4px 8px;
    margin-top: 5px;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: $orange2;
    top: 55px;
    .dropdown-item {
      &:hover {
        color: $orange2;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .yalla-header {
    .navbar {
      padding: 0.1rem 1rem;
      .nav-box {
        justify-content: center;
      }

      // -- mobile menu
      .navbar-collapse {
        background-color: #fff;
        position: absolute;
        top: 0;
        right: -80%;
        color: $gray;
        width: 80%;
        height: 100vh;
        display: block;
        transition: all 0.3s ease-in-out;
        z-index: 9999999;
        overflow: scroll;

        .nav-item {
          padding: 1px 5px;
        
          &.screen-search {
            display: none;
          }
          &:not(:last-of-type) {
            border-bottom: 1px solid #d1cece;
          }

          a {
            color: $black !important;
          }
          .btn-lang{
            text-align: start;
          }
        }
        .nav-item-close {
          display: block;
          border-bottom: none !important;
          padding: 15px 15px;

          .btn-close {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            border: 1px solid $black;
            background-color: transparent;
          }
        }
      }
      .navbar-collapse.show {
        right: 0%;
        transition: all 0.3s ease-in-out;
      }
      .over-lay {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.385);
        z-index: 9999998;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
      }
      .overlay-block {
        visibility: visible;
        opacity: 1;
      }
    }
    .navbar-toggler {
      position: absolute;
      right: -4px;
      top: 7px;

      &:focus {
        outline: none;
      }
      &:focus-visible {
        outline: none;
      }
      .navbar-toggler-icon {
        background-color: $white;
        display: block;
        width: 30px;
        height: 2px;
        margin: 6px 0;
      }
    }

    .search-mobile {
      display: none;
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0;
      bottom: 0px;
      z-index: 9999999;
      background-color: #fff;
      .search-container {
        margin-top: 15px;
        .search-input {
          width: 100%;
          padding: 0 20px;
          &:focus-visible {
            outline: none;
          }
        }
        .search-input {
          border: none;
        }
        .close-search {
          background-color: transparent;
          border: none;
          position: absolute;
          left: 20px;
          top: 50%;
          transform: translateY(-50%);
          z-index: 99999999;
          &:focus {
            outline: 1px dotted;
          }
          svg path {
            fill: $gray;
          }
        }
      }
    }
    .search-mobile--b {
      display: block;
    }
    .show-search {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      z-index: 9999997;
      background-color: transparent;
      border: none;
      &:focus {
        outline: 1px dotted;
      }
      svg path {
        fill: $white;
      }
    }
  }
}

@media (max-width: 768px) {
}
