.compare__btn-add {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  background-color: $blue2;
  color: $white;
  width: 50px;
  height: 50px;
  &:hover {
    color: $orange;
    background-color: $blue;
  }
}
.see-more {
  margin: 0 auto;
  display: inline-block;
  background-color: #ffffff;
  padding: 7px 20px;
  border-radius: 20px;
  font-size: 1rem;
  color: #818080;

  box-shadow: 0px 0px 1px 0px #f59c0c;
  svg{
      width: 20px;
      
  }
}
